root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{vue,js,ts,mjs,cjs,jsx,tsx,css,yml,json}]
charset = utf-8
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4
